node_modules/*
vendor/*
media/January/*
media/February/*
media/March/*
media/April/*
media/May/*
media/June/*
media/July/*
media/August/*
media/September/*
media/October/*
media/November/*
media/December/*
public/build/*
.idea
yarn-error.log
.secret
users.json
cache/*