node_modules/*
package-lock.json
vendor/*
media/January/*
media/February/*
media/March/*
media/April/*
media/May/*
media/June/*
media/July/*
media/August/*
media/September/*
media/October/*
media/November/*
media/December/*
content/January/*
content/February/*
content/March/*
content/April/*
content/May/*
content/June/*
content/July/*
content/August/*
content/September/*
content/October/*
content/November/*
content/December/*
public/build/*
.idea
yarn-error.log
.secret
users.json
cache/*
config/journal.local.php
dist/*
var/*