$primary: #f37033;
$danger: #b20101;
$max-content-width: 650px;

html,
body {
    overflow-x: hidden;
    width: 100vw;
}

* {
    transition: all 0.1s ease;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    font-family: "Roboto", sans-serif;
}

.loader {
    display: block;
    position: fixed;
    height: 3px;
    width: 0;
    top: 0;
    background-color: $primary;
    z-index: 100;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
}

a {
    color: $primary;
}

.header {
    background-color: white;
    position: relative;

    h1 {
        display: block;
        font-size: 5rem;
        margin: unset;
    }
}

.admin-bar {
    .actions {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
    }
}

.month>div>h2.month {
    margin: 0 5px 1.5rem 5px;
}

.main-content {
    background-color: white;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.article-body {
    margin: 5px;

    img {
        max-width: unset;
        width: 100vw;
        margin-left: -5px;
    }
}

.d-flex {
    display: flex;
    flex-wrap: wrap;

    &.gap-1 {
        gap: 1rem;
    }
}

.jc_space-between {
    justify-content: space-between;
}

.jc_space-around {
    justify-content: space-around;
}

.jc_space-evenly {
    justify-content: space-evenly;
}

.js_center {
    justify-content: center;
}

.js_end {
    justify-content: end;
}

.ai_center {
    align-items: center;
}

.ai_baseline {
    align-items: baseline;
}

.ai_flex-end {
    align-items: flex-end;
}

.ai_flex-start {
    align-items: flex-start;
}

label {
    display: block;
}

.mt-1 {
    margin-top: 1px;
}

.form-row {
    margin-bottom: 1rem;
}

textarea {
    width: 100%;
    min-height: 150px;
}

@media screen and (min-width: 500px) {
    .header {
        h1 {
            font-size: 10rem;
        }
    }

    .main-content {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

        .article-body {
            padding: 0;

            img {
                max-width: $max-content-width;
            }
        }
    }

    footer, .main-content {
        margin: 0 auto;
        max-width: $max-content-width;
    }
}
