@import '/node_modules/element-plus/dist/index.css';
@import '/app/style/variables.scss';

html,
body {
    color: var(--el-text-color-primary);
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: white;
    padding: 0;
    color: #333;
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

.header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    width: 100%;

    .header-sticky-content {
        position: sticky;
        left: 20px;
        width: 95vw;

        h1 {
            font-size: 5em;
        }
    }
}

footer {
    text-align: center;
    font-size: 0.8rem;
    width: 100vw;
    height: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img, video {
    max-width: 100%;
}

.main-content {
    margin-bottom: 5rem;

    .months {
        max-width: 95%;
        margin: 0 auto;

        .month {
            h2 {
                font-size: 3rem;
                color: $text-color;
            }

            .article-list {
                .article {
                    .article-head {
                        h3 {
                            font-size: 2rem;
                            margin: 0;
                        }
                    }

                    .article-body {
                        font-size: 1rem;

                        img, video {
                            box-sizing: border-box;
                        }

                        img {
                            max-width: 100%;
                            height: auto;
                        }

                        p {
                            margin: 0 0 10px 0;
                            line-height: 1.5;
                        }
                    }
                }
            }

        }
    }
}

.el-link {
    color: blue;
    text-decoration: underline;
    padding: unset;
    margin: unset;

    &:hover {
        color: purple;
       
        &::after {
            all: unset !important;
        }
    }
}

.article-head {
    .el-link {
        margin-right: 5px;
    }
}

@media screen and (min-width: $content-width-medium) {
    .header {
        .header-sticky-content {
            display: flex;
            // align-items: center;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: $content-width-small) {
    .header {
        h1 {
            font-size: 10rem;
        }
    }

    .main-content {
        .months {
            max-width: 650px;

            .article-body {
                img {
                    max-width: 100%;
                }
            }
        }
    }

    .article-body {
        img, video {
            max-width: 80%;
            height: auto;
        }
    }
}

.d-flex {
    display: flex;
    flex-wrap: wrap;

    &.gap-1 {
        gap: 1rem;
    }
}

.jc_space-between {
    justify-content: space-between;
}

.jc_space-around {
    justify-content: space-around;
}

.jc_space-evenly {
    justify-content: space-evenly;
}

.js_center {
    justify-content: center;
}

.js_end {
    justify-content: end;
}

.ai_center {
    align-items: center;
}

.ai_baseline {
    align-items: baseline;
}

.ai_flex-end {
    align-items: flex-end;
}

.ai_flex-start {
    align-items: flex-start;
}

label {
    display: block;
}

.mt-1 {
    margin-top: 1px;
}

.form-row {
    margin-bottom: 1rem;
}

textarea {
    width: 100%;
    min-height: 150px;
}
