$primary: #f37033;
$danger: #b20101;
$max-content-width: 650px;

/** Copied from App.vue (for use in @media tags) */
$content-width-small: 750px;
$content-width-medium: 750px;
$content-width-large: 900px;

$text-color: #555;

$black-border: 2px solid black;

//$content-width-small: 200px;
//$content-width-medium: 400px;
//$content-width-large: 650px;
